markdown
markdown-it-py
sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5

recommonmark
myst-parser==0.17.2
sphinx
sphinx-design
pydata-sphinx-theme==0.9.0
furo==2021.11.16

numpy==1.21.6
pandas==1.3.5
pyserini==0.16.1
ujson==5.1.0
tqdm==4.64.0
joblib==1.1.0
sklearn
datasets==2.0.0
torch==1.11.0
stanza==1.4.0
nltk==3.7
setuptools
gitpython==3.1.27
jupyter
jupyterlab
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
scipy==1.8.1
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.3
faiss-cpu==1.7.2
faiss-gpu==1.7.2
wheel==0.37.1
bitarray==2.3.7